<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laser Chess</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main1">
        <div class="font  margin">

            <img src="122.png" class="image" alt="">



        </div>


        <div class="body">
            <div class=" border2">
                <div class="font1  " style="margin-top: 10px;">
                    Laser Chess
                    <hr class="margin5">
                </div>
                <div class="font4">
                    
                    <div style="font-size: 28px; color:#dac105; ">
                        <!-- your id password is incorrect -->
                    </div>


                    <form action="index2.html">
                        <label for="username">USERNAME</label><br>
                        <input type="text" name="username"><br>
                        <label for="Password">PASSWORD</label><br>
                        <input type="password" name="Password"><br>
                        <input type="submit" class="button" value="Login">
                    </form>

                </div>
           </div>
        </div>

    </div>
</body>

</html>