<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laser Chess</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main1100">
        <div class="font100  margin100">

            <img src="122.png" class="image100" alt="">



        </div>


        <div class="body100">
            <div class=" border2100">
                <div class="font1100  " style="margin-top: 10px;">
                    Laser Chess
                    <hr class="margin5100">
                </div>
                <div class="font4100">
                    
                    <div style="font-size: 30px; color:#dac105; margin-top: -20px;margin-bottom: 10px;">
                        <!-- your id password is incorrect -->
                    </div>


                    <form action="index2.html">
                        <label for="username">USERNAME</label><br>
                        <input type="text" name="username"><br>
                        <label for="Password">PASSWORD</label><br>
                        <input type="password" name="Password"><br>
                        <input type="submit" class="button100" value="Login">
                    </form>

                </div>
           </div>
        </div>

    </div>
</body>

</html>