<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laser Chess</title>
  <link rel="stylesheet" href="style1.css">
</head>

<body>
  <div class="div">
    <div class="font typed margin">
      Laser Chess



    </div>
    <div class="font1 margin1 border2">
      <div class="margin3">
        RULES AND REGULATION
        <hr>
      </div>
      <div class="padding">
        <ul>
          <li>
            <p style="font-weight: 700;"> Objective : </p>



           <ul style="text-align:center; font-size: 28px;">
              Be the first player to strike your opponent's King with a Laser.
            </ul>
          </li>
          <li>
            <ol style="padding: 0px; ">
              <p style="font-weight: 700;"> No of Players :</p>
              <li style="color: red;padding: 5px;font-size: 28px;">Red Player</li>
              <li style="color: blue;padding: 5px;font-size: 28px;">Blue Player</li>
            </ol>
          </li>
          <li>
            <p style="font-weight: 700;"> Pieces :</p>

            <p style="font-size: 28px;">(Each player have 13 pieces)</p>

            <img src="PIECES.png" style="margin-left:27%;border-radius: 15px;margin-top:10px;" alt="">
            <ul>

              <li style="  padding: 5px; color: black;">
                <p style="margin: 0px;font-size: 40px;"> Laser </p>
                <p style="font-size: 28px;">Each player has one Laser that remains in the corner of the game board
                  throughtout the game. The laser
                  is not a playing piece and cannot be elliminated from play.</p>
              </li>
              <li style="  padding: 5px; color: black;">
                <p style="margin: 0px;font-size: 40px;"> Deflector </p>
                <p style="font-size: 28px;">The mirrored side of the Deflector reflects the laser 90 degrees. A
                  Deflector is eliminated from play
                  when any of it's non-mirrored surfaces are hit by the laser.</p>
              </li>
              <li style="  padding: 5px; color: black;">
                <p style="margin: 0px;font-size: 40px;"> Defender
                </p>
                <p style="font-size: 28px;">
                  The front side of a Defender blocks the laser and the Defender will remain in play if hit from the
                  front. A Defender is eliminated from play only if the laser strikes either of its sides or its back.
                </p>
              </li>

              <li style="  padding: 5px; color: black;">
                <p style="margin: 0px;font-size: 40px;"> Switch
                </p>
                <p style="font-size: 28px;">
                  Both sides of the Switch reflect the laser 90 degrees. The Switch can also swap places with an
                  adjacent
                  Deflector or Defender (see Special Move section of Movement Rules). A switch can never be eliminated
                  from play. </p>

              </li>

              <li style="  padding: 5px; color: black;">
                <p style="margin: 0px;font-size: 40px;">

                  King </p>
                <p style="font-size: 28px;">
                  The King is the most important piece for each side. If hit with a laser, it is destroyed and its owner
                  loses the game. Similar to a king in chess, the King pieces are comparatively weak, and so are often
                  not
                  moved unless under duress. All sides of the King are strikeable. </p>
              </li>

              <img src="image 3.png" style="margin-left:27%; margin-top:10px; border-radius: 15px;" alt="">

            </ul>

          </li>


          <li>
            <ol style="padding: 0px;">
              <p style="font-weight: 700;">How to Play : </p>
              <li style="padding: 5px;color: black;font-size: 28px;">The Blue player goes first. Players take turns with
                each player
                moving only their own pieces. All playing pieces, including Kings can be moved (see Movement Rules).
                Note that Laser's are not movable pieces. </li>
              <li style="  padding: 5px; color: black;font-size: 28px;">On a turn, a player must first take one of the
                following
                actions: A) Move any one piece one space in any direction (including diagonally) following the Movement
                Rules. B) Rotate a piece 90 degrees in either direction without the moving spaces. C) Rotate his or her
                own Laser to point in the direction of wither first column or first row. Rotation of the Laser must
                always be done before it is fired at the end of a turn.</li>
              <li style="  padding: 5px; color: black;font-size: 28px;">To complete a turn, the player must activate his
                or her own
                laser. Pieces are removed from the board based on where the beam lands. Refer to Pieces for a
                description of when and how a piece is eliminated from play. If the laser beam lands on a player's own
                piece, the piece is still eliminated from play. </li>



              <p style="color:red;font-size: 40px;">!! IMPORTANT !! </p>
              <p style=" color:red; padding: 5px;font-size: 28px; "> The laser is fired only one time at the end of a
                player's turn
                and the turn is over whether or not the laser hits a piece. A laser cannot be fired as a "test" mid-turn
                while a player is still deciding on a move to make. Once a move is made the move cannot be taken back
                and the Laser must be fired </p>
              <li style="  padding: 5px; color: black;font-size: 28px;">
                Red pieces can never move into spaces with blue reserved patterns and Blue pieces can never move into
                squares containing red reserved patterns. (Located along the edges of the board) </li>
            </ol>
          </li>
          <li>
            <p style="font-weight: 700;"> Winning Game : </p>
            <ul style="color:rgb(0, 0, 0);padding: 0px;font-size: 28px; ">
              When either laser beam lands on a King piece, that King is removed and the game is over. If you are the
              player whose King remains–YOU WIN! If you accidentally hit your own King–LOSE! . Your opponent wins the
              game.
            </ul>
          </li>
          <li>
            <ol style="padding: 0px; ">
              <p style="font-weight: 700;">Movement Rules : </p>
              <li style="padding: 5px;color: black;font-size: 28px;">Piece may only be moved OR rotated in one turn, not
                both. </li>
              <li style="  padding: 5px; color: black;font-size: 28px;">A piece may only be rotated 90 degrees at a
                time.</li>
              <li style="  padding: 5px; color: black;font-size: 28px;"> piece is captured when the laser hits a piece
                in one of it's non-deflective / non-shield side. </li>
            </ol>
          </li>
          <li style="padding:0px;">
            <ol style="padding: 0px;">
              <p style="font-weight: 700;"> Special Move : </p>

              <ul style="padding: 0px;color:rgb(0, 0, 0);font-size: 28px; ">


                The special move is made only by a Switch piece. The Switch may swap places with an adjacent Deflector
                or Defender of either color. Neither piece rotates during the swap. A Switch cannot swap places with a
                King or another Switch piece. </ul>
            </ol>
          </li>
          <li>
            <p style="font-weight: 700;"> Actions :</p>
            <ul style="color:rgb(0, 0, 0);font-size: 28px;">

              <li>Kill: Stop the laser beam and capture the piece. </li>

              <li>Nothing: Stop the laser beam and do nothing (happens when the laser beam hits any other (or self)
                laser piece or the shield side of the Defender piece)</li>

              <li>Top: Deflect the laser beam to the top. </li>

              <li>Left: Deflect the laser beam to the left. </li>

              <li> Right: Deflect the laser beam to the right. </li>

              <li>Bottom: Deflect the laser beam to the bottom. </li>
              <img src="image 1.svg" style="margin-left:27%; height:400px; border-radius: 5px;margin-top:15px;" alt="">

            </ul>
          </li>
        </ul>
      </div>
      <div>
        <form action="">
          <input type="submit" class="button" value="Let's Play">
      
      
        </form>
      </div>
    </div>

  </div>
</body>

</html>