
html{
    height: 100%;
}
.margin{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;  
    width: 100%;
    height: 14vh;
    font-size: 2%;
    color: #ffefe2;
}
body {
    background-image: url('31.jpg');
    padding-top: 30px;
    margin: 0px;
    padding-bottom: 1%;
    height: 100%;
    box-sizing: border-box;

}
.main1{
  font-family: sans-serif ;
   height: 100%;
    width: 100%;
 /* height: 100%; */
    box-sizing: border-box;

   background-size: auto;
     
}
.body{
    width: 100%;
    height: 81%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;


}
.margin5{
    margin-top: 8px;
}
.border2{
    background-image: linear-gradient(to bottom right,  rgba(185, 48, 20, 0.7), rgba(13, 13, 138, 0.7));
    height: 50%;
    box-shadow: 0 0px 8px 0 rgba(115, 10, 10, 0.5), 0 6px 20px 0 rgba(8, 8, 8, 1);
    text-align: center;
    min-width: 380px;
    z-index: 1;
    max-width: 450px;
min-height: 400px;
max-height: 500px;
width: 50%;
font-size: 25px;

border-radius: 10px;



}
.image{
    height: 100%;

}
form{
    width: 100%;
}
label{
    width: 100%;
    height: 3vh;
    max-height:50px; 
font-size: 100%;
font-family: sans-serif;
margin-bottom: 5px;
 
}
.font4{
    height: 85%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffefe2;

}
.font1{
    height: 15%;
    font-size: 5.3vh;

    color: #ffefe2;
}
input{
    height: 3vh;
    min-height: 30px;
    max-height:40px;
    max-width:230px;
    width: 90%;
font-size: 60%;
border-radius: 5px;
margin-top: 5px; 
margin-bottom: 20px; 

}

.button{
   

    width: 40%;
    height: 18%;
    max-height: 70px;
    background-color:rgb(9, 9, 216);
  color: white;
  border: none;
  font-size: 35px;
  margin-top: 5%;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 7px;


 justify-content: center;

}
.typed {
    overflow: hidden; 
    border-right: .15em solid orange;  
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 4s steps(40, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color: #ffefe2; }
  }
  